@media (max-width: 1980px) {

* {
    font-family: 'Open Sans';
}

body {
    padding: 0!important;
    margin: 0;
}

header {
    margin-top: -20px;
}

.menu {
    padding: 10px;
    margin: 0;
    z-index: 0;
    max-height: 100px;
    border-bottom: 3px solid #8505B0;
}

.logo {
    text-align: center;
    line-height: 2.6;
    font-weight: 900;
    font-size: 14pt;
    color: rgb(173, 30, 192);
}

#app {
    text-align: center;
    margin-top: 10%;
    
}

input  {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px;
    outline: none;
    text-transform: uppercase;
}

li {
    margin-top: 30px;
    list-style-type: none; 
    margin-left: -30px;
}

li
    a {
        margin: 10px;
        padding: 8px;
        border-radius: 10px;
        background-color: #8505B0;
        color: #FFF;
        text-decoration: none;
    }

    a:hover {
        background-color: #B74CDB;
        transition: 0.4s;
    }

button {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #242424;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}

button:hover {
    transition: 0.5s;
    background-color: #4D4D4D;
    cursor: pointer;
    outline: none;
}

}