@media (max-width: 1980px) {

* {
    font-family: 'Open Sans'
}

#app {
    text-align: center;
    margin-top: 15%;
    
}

input  {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px;
    outline: none;
    text-transform: uppercase;
}

li {
    margin-top: 30px;
    list-style-type: none; 
    margin-left: -30px;
}

li
    a {
        margin: 10px;
        padding: 8px;
        border-radius: 10px;
        background-color: #8505B0;
        color: #FFF;
        text-decoration: none;
    }

    a:hover {
        background-color: #B74CDB;
        transition: 0.4s;
    }

button {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #242424;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}

button:hover {
    transition: 0.5s;
    background-color: #4D4D4D;
    cursor: pointer;
    outline: none;
}

}